@keyframes fade-in {
    from {
        background-color: var(--shape-button);
    }
    to {
        background-color: var(--shape-hover);
    }
}

@keyframes fade-out {
    from {
        background-color: var(--shape-hover);
    }
    to {
        background-color: var(--shape-button);
    }
}

@keyframes radio-slide-r {
    from {
        left: -100%;
    } to {
        left: 0%;
    }
}

@keyframes radio-slide-l {
    from {
        left: 100%;
    } to {
        left: 0%;
    }
}

@keyframes checkb-slide-r {
    from {
        left: calc(0% + .25rem);
        background-color: var(--input-stroke);
    } to {
        left: calc(100% - 1.60rem);
        background-color: var(--text-heading);
    }
}

@keyframes checkb-slide-l {
    from {
        left: calc(100% - 1.60rem);
        background-color: var(--text-heading);
    } to {
        left: calc(0% + .25rem);
        background-color: var(--input-stroke);
    }
}

@keyframes bg-light {
    from {
        background-color: var(--input-base);
    } to {
        background-color: var(--brand-light);
    }
}

@keyframes bg-dark {
    from {
        background-color: var(--brand-light);
    } to {
        background-color: var(--input-base);
    }
}