input,
label,
textarea {
    cursor: pointer;
}

input,
textarea {
    appearance: none;
    width: 100%;
    height: 3rem;
    color: var(--input-placeholder);
    font: var(--body-md);
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    outline: none;
    
    &:focus,
    &:focus-within {
        border-color: var(--brand-light);
        color: var(--text-heading);
    }

    &:invalid {
        border-color: var(--danger);
    }

    &[required] + .error-msg {
        display: grid;
        justify-content: start;
        align-items: center;
        gap: .5rem;
        font: var(--body-xs);
        color: var(--danger);
        margin-top: .5rem;

        & img {
            width: 1rem;
            height: 1rem;
            filter: invert(66%) sepia(16%) saturate(2204%) hue-rotate(313deg) brightness(108%) contrast(102%);/*inver(46%) before, too light*/
        }
    }

    &:valid + .error-msg {
        display: none;
    }
}

label {
    display: block;
    color: var(--text-body);
    font: var(--body-sm);
    margin-bottom: .75rem;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    padding-inline: 1rem;
}

textarea {
    height: 8.5rem;
    padding: 1rem;
}

#upload {
    width: 100%;

    .upload-box {
        justify-content: start;
        align-items: center;
        gap: .75rem;
        width: 23rem;
        height: 3rem;

        & .file-input {
            align-items: center;
            gap: .5rem;
            width: 119px;
            height: 2.5rem;
            background-color: var(--shape-button);
            border-radius: .5rem;
            padding: .25rem .75rem .25rem .75rem;
            animation: hover-fade-out backwards .1s;

            & input {
                display: none;
            }

            & img {
                width: 1rem;
                height: 1rem;
                filter: invert(30%) sepia(73%) saturate(2813%) hue-rotate(182deg) brightness(101%) contrast(101%);
            }

            & label {
                color: var(--text-heading);
                margin: 0;
            }

            &:hover {
                animation: hover-fade-in forwards .2s;
            }
        }

        & .file-status {
            p {
                font: var(--body-md);
                color: var(--input-placeholder);
            }

            & #loaded {display: none;}
        }

        &:active {
            & p:first-of-type {display: none;}

            & #loaded {display: block;}
        }
    }
}