@keyframes slide-r {
    from {
        left: -100%;
    } to {
        left: 0%;
    }
}

@keyframes slide-l {
    from {
        left: 100%;
    } to {
        left: 0%;
    }
}

label + img {
    margin: 0;
}

.options {
    position: relative;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-width: 17rem;
    max-width: 17rem;
    height: 3rem;
    font: var(--body-md);
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding: .25rem;

    & .radio-inner:has(:checked) {
        & img {
            filter: invert(30%) sepia(73%) saturate(2813%) hue-rotate(182deg) brightness(101%) contrast(101%);/*invert(70%) before, too dark*/
        }
    }

}


.radio-inner {
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    position: relative;
    padding: .25rem;

    & input {
        all: unset;
        position: absolute;
        z-index: 0;
    }

    & #inperson:checked {
        background-color: var(--shape-button);
        border-radius: 5px;
        width: 129px;
        height: 38px;
        animation: slide-l forwards .3s;
    }

    & #online:checked {
        background-color: var(--shape-button);
        border-radius: 5px;
        width: 129px;
        height: 38px;
        animation: slide-r backwards .3s;
    }

    & img {
        width: 1rem;
        height: 1rem;
        position: relative;
        z-index: 1;
    }

    & label {
        margin: 0;
        position: relative;
        z-index: 1;
    }

    & input:checked ~ label {
        color: var(--text-heading );
        font-weight: 600;
    }
}