@import url(fields/field-index.css);

form {
    gap: 3rem;
    min-width: 35rem;
}

fieldset {
    gap: 1.5rem;
    border: none;
}

#about {
    & .input-wrapper {
        min-width: 17rem;
    }
}

#custom {
    & .gallery {
        gap: 1.75rem 1rem;
    }
}