@import url(fields/field-index.css);

form {
    gap: 3rem;
    min-width: 35rem;
}

fieldset {
    gap: 1.5rem;
    border: none;
}

#about {
    & .input-wrapper {
        min-width: 17rem;
    }
}

#custom {
    & .gallery {
        grid-template-areas: 
        "color-list color-list"
        "themes themes"
        "style-switch upload";
        gap: 1.75rem 1rem;

        & #color-list {
            grid-area: color-list;
        }

        & #theme {
            grid-area: themes;
        }

        & #switch {
            grid-area: style-switch;
        }

        & #upload {
            grid-area: upload;
        }
    }
}