:root {
    --bg-image: url(../assets/images/Background.png);

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;
    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --fontfam-logo: "Leckerli One", cursive;
    --fontfam-heading: "Baloo 2", system-ui;
    --fontfam-body: "Open Sans", sans-serif;
    --logo: 400 2.5rem/normal var(--fontfam-logo);
    --heading-md: 700 1.75rem/normal var(--fontfam-heading); 
    --heading-sm: 700 1.125rem/normal var(--fontfam-heading);
    --body-md: 400 1rem/normal var(--fontfam-body);
    --body-sm: 400 .875rem/normal var(--fontfam-body);
    --body-xs: 400 .75rem/normal var(--fontfam-body);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: var(--text-body);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--pink);
}

legend, h2 {
    color: var(--text-heading);
}

h2 {
    font: var(--heading-md);
}

legend {
    font: var(--heading-sm);
}

.input-wrapper {
    width: 35rem;
    height: 79px;
}

.input-wrapper-pair,
.radio-wrapper {
    width: 17rem;
    height: 79px;
}

.label-icon {
    width: 24px;
    height: 24px;
    filter: invert(42%) sepia(14%) saturate(242%) hue-rotate(160deg) brightness(90%) contrast(86%); /*invert(62%) before, too dark*/
}

.frame {
    justify-content: start;
    gap: .75rem;
}
