#app {
    display: grid;
    grid-template-columns: 25rem 68.75%;
    gap: 1.25rem;
    width: 80rem;
    height: calc(100vh - 8rem);
    background-color: var(--shape-background);
    border-radius: 1.25rem;
    padding: 1.25rem;
    overflow: hidden;
    margin-inline: auto;
    margin-block: 4rem;
}

aside {
    background: var(--bg-image) no-repeat center/cover;
    border-radius: .75rem;
    height: 45.5rem;

    & .aside-container {
        header {
            margin-top: 2rem;
            margin-inline: 2rem;

            img {
                width: 45.85px;
                height: 48px;
            }

            & h1 {
                font: var(--logo);
                margin-block: 1rem .25rem;
            }

            & p {
                color: var(--text-heading);
                font: var(--body-md);
                font-weight: 300;
            }
        }
        
    }
}

main {
    justify-content: center;
    background-color: var(--shape-body);
    width: 51.25rem;
    height: 45.5rem;
    border-radius: .75rem;
    overflow: auto;
    padding: 5rem;

    & .main-container {
        justify-content: center;
        gap: 2.5rem;
    }
}