#app {
    display: grid;
    grid-template-columns: 25rem 68.75%;
    justify-content: center;
    gap: 1.25rem;
    height: 100vh;
    padding: 1.25rem;
    overflow: hidden;
}

aside {
    background: var(--bg-image) no-repeat center/cover;
    border-radius: .75rem;

    & .aside-container {
        header {
            margin-top: 2rem;
            margin-inline: 2rem;

            img {
                width: 45.85px;
                height: 48px;
            }

            & h1 {
                font: var(--logo);
                margin-block: 1rem .25rem;
            }

            & p {
                color: var(--text-heading);
                font: var(--body-md);
                font-weight: 300;
            }
        }
        
    }
}

main {
    background-color: var(--shape-body);
    width: 100%;
    border-radius: .75rem;
    overflow: auto;
    padding: 5rem;

    & .main-container {
        justify-content: start;
    }
}